#root {
  /* max-width: 1280px; */

  text-align: center;
  position: relative;
}

*{
  /* border: solid 1px red; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

marquee {
  font-size: 48px;
}

/*  assign css variables with attr
   (experimental as of 2024)
So in the JSX, something like 
  data-poster-url={`https://......`} 
then in the CSS something like 
  background: linear-gradient(...), 
  url(attr(data-poster-url));
 */

.movie-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.movie-title-list {
  text-align: left;
}

.movie-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
              rgba(0, 0, 0, 0.5),
              rgba(0, 0, 0, 1.0)),
              var(--data-backdrop-url);
  background-size: cover;
  background-position: center;
}

.movie-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.movie-trailer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 45vw;
  height: 75vh;
  text-align: left;
  /* align-items: flex-start; */
  width: fit-content;
  overflow-y: auto;
}

.movie-trailer-list {
  height: 1vh;
  font-size: 4px;
}

.movie-credits {
  display: flex;
  flex-direction: column;
  width: 45vw;
  max-width: 560px;
  height: 75vh;
  text-align: left;
  align-items: flex-end;
  backdrop-filter: blur(40px);
  overflow-y: auto;
}

.tagline {
  text-align: center;
}

.movie-title-disp {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  justify-content: flex-end;

}

th {
  font-size: 1.2em;
  font-style: italic;
  text-decoration: underline;
}



iframe {
  --trailer-width: 48vw;
  max-width: 560px;
  max-height: 315px;
  width: var(--trailer-width);
  height: calc(var(--trailer-width)/1.77777);
}

.title {
  flex-grow: 1;
  /* text-align: center; */
  /* align-self: center; */
}
.vote {
  align-items: end;
}






